.section {
    padding: 4rem 0;
    background-color: transparent;
    width: 100%;
}

.imageWrapper {
    width: 100%;
    height: 60vh;
    overflow: hidden;

    .mainImg {
        width: 100%;
        height: 120%;
        display: block;
        object-fit: cover;
        will-change: transform;
        transform: translateY(-10%); // Center it initially
    }
}

@media (max-width: 768px) {
    .section {
        padding: 2rem 0;
    }

    .imageWrapper {
        height: 40vh;
    }
}